$containerHeight: 150px;

body {
  font-family: "Roboto", Arial;
  color: #333;
  font-size: 0.9em;

  #centered {
    margin: 0 auto;
    max-width: 600px;

    div.container {
      height: 150px;
      margin: 1em 0;
      background-color: #f7f7f7;

      div.info-container {
        display: inline-block;
        vertical-align: top;
        max-width: 345px;
        padding: 0 1em;

        ul {
          list-style-type: none;
          font-size: 0.8em;

          li {
            margin: 0.4em 0;
          }
        }

        .link {
          margin-right: 2em;
          text-decoration: none;
          color: #222;
        }
      }

      div.preview-container {
        display: inline-block;
        width: 200px;
        height: $containerHeight;
        vertical-align: top;
        float: right;

        div.Unscramble {
          background-size: 200%;
        }

        div.Asteroids {
          background-size: 150%;
        }

        div.Checkers {
          background-position: left;
        }

        div {
          background-size: cover;
          background-repeat: no-repeat;
          height: $containerHeight;
          background-position: center;
        }
      }
    }
  }
}
