@import './bootstrap-responsive.min.css';

$containerHeight: 150px;

body {
  font-family: "Roboto", Arial;
  color: #333;
  font-size: 0.9em;
  background: #333;
  margin: 0;

  #centered {
    background: #fefefe;
    margin: 0 auto;
    padding: 50px;
    max-width: 700px;

    h2 {
      margin: 2em 0;
    }

    div.game-container {
      margin: 2em 0;
      background-color: #f7f7f7;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div.info-container {
        display: inline-block;
        vertical-align: top;
        width: 45vw;
        max-width: 450px;
        padding: 0 1em;

        a {
          text-decoration: none;
          color: #222;
        }

        ul {
          padding-left: 0.5em;
          list-style-type: none;
          font-size: 1em;

          li {
            margin: 0.8em 0;
          }
        }

        .link {
          margin-right: 2em;
          color: #222;
        }
      }

      div.preview-container {
        display: inline-block;
        width: 200px;
        height: $containerHeight;
        vertical-align: top;
        float: right;

        div.Unscramble {
          background-size: 200%;
        }

        div.Asteroids {
          background-size: 150%;
        }

        div.Checkers {
          background-position: left;
        }

        div {
          background-size: cover;
          background-repeat: no-repeat;
          height: $containerHeight;
          background-position: center;
        }
      }
    }

    footer {
      text-align: center;

      svg {
        fill: #333;

        &:hover {
          fill: #777;
        }
      }
    }
  }
}
