body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #aaa;
}

a {
  color: #aaa;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #aaa;
}

a:visited {
  text-decoration: none;
  color: #aaa;
}

h4 {
  font-size: 16px;
}

.h1 {
  margin: 0 auto;
}

.tic-tac-toe {
  margin: 0 auto;
  width: 330px;
  border: 5px solid #ccc;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.cell {
  float: left;
  height: 100px;
  width: 100px;
  border: 5px solid #ccc;
  background-color: #fff;
}

.cell:hover {
  background-color: #aaa;
  cursor: pointer;
}

.x, .o {
  background-color: #6666FF;
  font-size: 60px;
  font-weight: 700;
  line-height: 100px;
}

.x { color: #ccc; }

.o { color: #ccc; }

.winning { background-color: #3399FF; }
