html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
  text-decoration: none;
}

figure {
  margin: 0 auto;
  width: 580px;
}

h1 {
  color: grey;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: Roboto;
  text-align: center;
  font-weight: 100;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

.hanoi {
  margin: 30px auto;
  width: 600px;
}

ul {
  float: left;
  width: 180px;
  padding: 0 0 10px 0;
  border-bottom: 10px solid grey;
  cursor: pointer;
}

ul:hover {
  border-color: #0099FF;
}

ul.selected {
  border-color: #FF6666;
}

ul:nth-child(2) {
  margin: 0 20px;
}

li {
  width: 0px;
  margin: 10px auto;
  height: 30px;
  background: #FF5050;
  border-radius: 25px;
}

li.disk-1 {
  width: 60px;
}

li.disk-2 {
  width: 120px;
}

li.disk-3 {
  width: 180px;
}

.game-over ul {
  cursor: default;
  border-color: grey;
}

.game-over li {
  background: #00CC99;
}
